.trainers{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 10%;
}
.content{
  display:flex;
  flex-wrap: wrap;
}
.trainer{
  display: flex;
  width: 50%;
  margin: 40px 0px;
}

.aboutTrain{
  color: white;
  margin: 0px 20px;
  font-size: 1em;
  line-height: 1.5em;
}

.headText{
  color: white;
  font-size: 2.5em;
  line-height: 2.5em;
  font-family: Avenir Next Cyr;
}
.trainImg{
  height: 360px;
  width: 360px;
}

@media screen and (max-width: 1200px)
{
  .trainers{
    flex-direction: column;
  }
  .headText{
    margin-top: 5%;
  }
  .trainer{
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .aboutTrain{
    margin-top: 30px;
    text-align: left;
    font-family: Avenir Next Cyr;
    font-size: 20px;
    line-height: 25px;
    margin-left: 0px;
    margin-right: 0px;
    width: 280px;
  }

  .trainImg{
    width: 280px;
    height: 280px;
  }
  .content{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -10%;
  }
}