
.header{
  margin: 1% 10% 0px 11.5%;
}

.upHeader{
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: Avenir Next Cyr;
  font-size: 1.375em;
  line-height: 1.5em;
}

.lowHeader{
  margin: 0% 0% 0% 10%;
  display: flex;
  justify-content: space-between;
}

.headerLeft{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.mainMenu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2%;
}

.number{
  margin-top: 2%;
}

.menu{
  padding-right: 22px;
}

.menu:link{
  color: white;
  text-decoration: none;
}

.menu:visited{
  color: white;
  text-decoration: none;
}

.menu:hover{
  color: #E90254;
  text-decoration: none;
}

.menu:focus{
  color: #E90254;
  text-decoration: underline;
}


.moto{
  color: white;
  font-size: 3.5em;
  line-height: 72px;
  font-weight: bolder;
}

.pink{
  color: #E90254;
}

.mainImg{
  width: 280px;
  height: 450px;
}

.submit{
  margin-top: 60px;
  width: 280px;
  height: 65px;
  line-height: 25px;
  color: white;
  background-color: #141524;
  border-radius: 50px;
  border-color: #E90254;
  font-size: 20px;
  padding: 10px;
  font-family: Avenir Next Cyr;
  cursor: pointer;
}
.submit:active{
  background-color:#E90254;
}


.logo{
  width: 128px;
  height: 115px;
}

@media screen and (max-width: 1200px){

  .mainMenu{
    display:none;
  }
  .number{
    display:none;
  }
  .logo{
    width: 102px;
    height: 84px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .lowHeader{
    flex-direction: column;
    margin: 0;
  }
  .mainImg{
    display:none;
  }
  .submit{
    width: 160px;
    height: 65px;
    margin-bottom: 100px;
    font-size: 14px;
  }
  .moto{
    font-size: 50px;
  }
}

