
.contacts{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.leftContact{
  display: flex;
  flex-direction: column;
}

.address{
  color: white;
  font-size: 20px;
  line-height: 25px;
  font-family: Avenir Next Cyr;
}

.copyright{
  color: white;
  font-family: Avenir Next Cyr;
  font-size: 20px;
  line-height: 25px;
}

.mapImg{
  width: 650px;
  height: 320px;
  margin-bottom: 100px;
  margin-right: 5%;
}

.buttons{
  display: flex;
  margin: 20px 0px;

}

.web{
  width: 50px;
  height: 50px;
  color: white;
  background-color: #141524;
  border-radius: 30px;
  border-color: #E90254;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.web:active{
  cursor: pointer;
}

.headText{
  color: white;
  font-size: 42px;
  line-height: 50px;
  font-family: Avenir Next Cyr;
}

@media screen and (max-width: 1200px){
  .contact{
    flex-direction: column-reverse;
  }
  .mapImg{
    width: 220px;
    height: 120px;
    margin-bottom: 5%;
    margin-left: 0;
  }
  .address{
    font-family: Avenir Next Cyr;
    font-size: 20px;
    line-height: 25px;
  }
  .copyright{
    margin-bottom: 10%;
  }
}