
.form{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 10%;
}

.formContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.applicationLeft{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.inputText{
  background: #141524;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  width: 350px;
}

.inputText::placeholder {
  color: white;
}

.appImg{
  width: 500px;
  height: 400px;
  margin-right: 150px;
  -webkit-transition: transform 3s;
  transition: transform 3s;
}

.appImg{
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.headText{
  color: white;
  font-size: 42px;
  line-height: 50px;
  font-family: Avenir Next Cyr;
}

.submit{
  margin-top: 60px;
  width: 240px;
  height: 50px;
  line-height: 25px;
  color: white;
  background-color: #141524;
  border-radius: 50px;
  border-color: #E90254;
  font-size: 20px;
  padding: 10px;
  font-family: Avenir Next Cyr;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;
}
.submit:active{
  background-color: #E90254;
}

@media screen and (max-width: 1024px){

  .inputText{
    width: 80%;
  }
  .formContent{
    flex-direction: column;
    align-items: center;
  }
  .appImg{
    display: none;
  }
  .submit{
    margin-top: 5%;
  }
  .headText{
    margin-left: -5px;
    font-size: 41px;
    line-height: 41px;
  }
}