.headText{
  color: white;
  font-size: 42px;
  line-height: 50px;
}


.about{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.aboutImg{
  width: 160px;
  height: 160px;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 330px;
}

.mark{
  color: white;
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-left:-60px;
  width: 300px;
}

@media screen and (max-width: 1200px)
{
  .cards{
    flex-direction: column;
    align-items: center;
  }
  .mark{
    font-size: 16px;
    width: 270px;
  }
}