
.prevAndNext{
  margin-top: 60px;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.leftPage{
  display: flex;
  flex-direction: column;
}

.gallery{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.butts{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.gal{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.galImg{
  width: 320px;
  height: 300px;
}


.gal .photos img:first-child{
  display: block;
}

.headText{
  color: white;
  font-size: 42px;
  line-height: 50px;
  font-family: Avenir Next Cyr;
}

.hidden{
  display: none;
}

.block{
  display: block;
}

.photos{
  margin-right: 5%;
  margin-top: 5%;
}

.counter{
  color: white;
  font-family: Avenir Next Cyr;
  font-size: 120px;
  line-height: 147px;
  margin-top: 5%;
}

.description{
  font-family: Avenir Next Cyr;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px)
{
  .gal{
    flex-direction: column;
    align-items: center;
  }
  .photos{
    margin-top: 10%;
  }
  .prevAndNext{
    margin-top: 5%;
  }
  .leftPage{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-top: 0;
  }
  .description{
    font-family: Avenir Next Cyr;
    font-size: 20px;
    line-height: 25px;
  }
  .counter{
    font-family: Avenir Next Cyr;
    font-size: 60px;
    line-height: 70px;
  }
  .galImg{
    width: 200px;
    height:160px;
    margin-left: 2.5%;
    margin-bottom: 5%;
  }
}