.headText{
  color: white;
  font-size: 42px;
  line-height: 50px;
  font-family: Avenir Next Cyr;
  margin-bottom: 5%;
}

.header{
  font-family: Avenir Next Cyr;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: white;
  background: #E90254;
  margin-top: -5px;
}

.directions{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.direct{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 0px 5% 0px;
}

.dirImg{
  width: 240px;
  height: 345px;
}

.dImg{
  position: relative;
  margin-bottom: 5%;
}

.poleInfo{
  width: 200px;
  height: 325px;
  padding: 20px;
  display: none;
  position: absolute;
  margin: -380px 0 0 0;
  opacity: 0.7;
  background:#E90254;
  color: white;
  text-align: center;
  font-family: Avenir Next Cyr;
  font-size: 20px;
  line-height: 25px;
}

.dImg:hover .poleInfo{
  display: block;
  cursor: default;
}

@media screen and (max-width: 1200px)
{
  .direct{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .poleInfo{
    user-select: none;
    width: 200px;
  }
  .dirImg{
    width: 240px;
  }
}
